/face.log
/freesdk_131232.dat
/show.jpg
/test.jpg
/.asf_install.dat
/face_recogntion/arc_face/__pycache__/__init__.cpython-36.pyc
/face_recogntion/arc_face/__pycache__/arc_face_function.cpython-36.pyc
/face_recogntion/arc_face/__pycache__/face_detect_sdk.cpython-36.pyc
/face_recogntion/arc_face/__pycache__/face_dll.cpython-36.pyc
/face_recogntion/arc_face/__pycache__/face_property_sdk.cpython-36.pyc
/face_recogntion/arc_face/__pycache__/
/.idea
/__pycache__/
/face_recogntion/__pycache__/

